MONGO_DB=sample-db-name
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USER=xxx
MONGO_PASSWORD=xxx
MONGO_AUTH_BASE=xxx
JWT_SECRET=secret
RMQ_USER=admin
RMQ_PASSWORD=admin
RMQ_HOST=localhost:5672
RMQ_NOTIFY_SERVICE_QUEUE=srvqeue
RMQ_STAT_USER=admin
RMQ_STAT_PASSWORD=admin
RMQ_STAT_HOST=localhost:5674
RMQ_STAT_QUEUE=userstat
USER_UPLOAD_DIR=../user-storage
SERVICE_HOST=localhost
SERVICE_PORT=3333
